!!! 5
%html
  %head
    %title chat_app
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    %link{ href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
  %body
    -#%p= notice
    -#%p= alert
    = yield
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous" }